.home {
  font-family: $font-primary;
  &-modal {
    font-family: $font-primary;
  }
  &-info {
    display: flex;
    margin-top: 15%;
    justify-content: center;
    &__paragraph {
      width: 50%;
      text-align: center;
      text-transform: uppercase;
      font-weight: 600;
    }
  }
  &-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    &__resume {
      margin-right: 1rem;
      border: 3px dotted black;
      display: flex;
      border-radius: 0.3rem;
      padding: 0.5rem;
      width: 6.5rem;
    }
    &__linkedin {
      border: 3px dotted black;
      border-radius: 0.3rem;
      padding: 0.5rem;
      width: 6.5rem;
    }
  }
  &-map {
    display: flex;
    justify-content: center;
    &__button {
      cursor: pointer;
      width: fit-content;
      border: 3px dotted black;
      border-radius: 0.3rem;
      padding: 0.5rem;
    }
  }
}

a {
  color: black;
  text-decoration: none;
}
.mantine-Paper-root.mantine-Card-root.mantine-1h882yz {
  background-color: $primary-winter;
}
@media (max-width: 450px) {
  .home {
    &-info {
      &__paragraph {
        width: 100%;
      }
    }
  }
}
